{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-body">
                    <form>
                        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>Profile Data</center></h1><hr>
                        {% if userprofile %}
                        <label>Username : {{request.user.username}}</label><br>
                        <label>First Name : {{request.user.first_name}}</label><br>
                        <label>Last Name : {{request.user.last_name}}</label><br>
                        <label>Address : {{userprofile.address}}</label><br>
                        <label>Email : {{request.user.email}}</label><br><br>
                        {% endif %}

<a class="btn btn-warning" href="{% url 'update' %}" style="width: 80%;">Update</a>


                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    {% if userprofile.image %}
                    <img src = "{{ userprofile.image.url }}" style="width: 300px;height: 300px;">
                    {% else %}
                    <h1>No image available</h1>
                    {% endif %}
                    

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="row justify-content-center">
            
        </div>
    </div>
</div>

{% endblock %}